@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

body {
  background: rgb(249, 246, 248);
  background: linear-gradient(
    90deg,
    rgba(249, 246, 248, 1) 0%,
    rgba(87, 5, 120, 1) 94%
  );
}

.container_login {
  background-image: url("/img/imglogin.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5rem;
  padding: 10rem 5rem 10rem 5rem;
}

nav {
}

#su_post {
  div {
    .card {
      border-right: none;
      border-left: none;
      border-width: 2px;
      border-radius: 0;
    }
  }
  a {
    color: #570578;
  }
}
