@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

body {
  background: rgb(249, 246, 248);
  background: linear-gradient(
    90deg,
    rgba(249, 246, 248, 1) 0%,
    rgba(87, 5, 120, 1) 94%
  );
}

.container_login {
  background-image: url("/img/imglogin.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5rem;
  padding: 10rem 5rem 10rem 5rem;
}

#su_post {
  div {
    .card {
      border-right: none;
      border-left: none;
      border-width: 2px;
      border-radius: 0;
    }
  }
  display: none;
}

a {
  color: #570578;
}
#btn-paf {
  button {
    border: none;
    background-color: #fff;
    padding: 0.5em 0;
  }
  button:nth-child(2) {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }
}
#su_photo {
  display: none;
}
#su_album {
  display: none;
}
.card-body:hover {
  filter: brightness(120%);
  cursor: pointer;

}

#myPage {
  width: 50%;
  height: 800px;
  background-color: lightgrey;
  border: 5px solid black;
  border-radius: 2.5%;
}